<h1 id="profile-h1">Welcome back {{User.email}}!</h1>
<h2 id="profile-h2">Write a new post</h2>
<button id="logout">Log Out</button>
<form id="new-post-form">
    <input type="text" placeholder="title" id="new-title-input">
        <input type="text" placeholder="post" id="new-post-input">
    <button id="new-post-btn">Post!</button>
</form>
<h2 id="my-posts">my posts</h2>
{{#each allPosts}}
    <section class="post-box" id="my-post-box">
    <h3> {{title}}</h3>
    <p>  text: {{post}}</p>
</section>
{{/each}}
<script src="/js/logout.js"></script>
<script src="/js/profile.js"></script>