*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: beige;
}
header {
    border:solid black 2px;
}
main { 
    height: 100vh;
    width:70vw;
    border:solid black 2px;
    background-color: aliceblue;
    margin-left:13vw;
}
footer {
    border: solid black 2px;
    position: absolute;
    bottom:0;
}
#post-box{
    border:solid black 2px;
    margin:15px;
    text-align: center;
}